.product {
	@include adaptiveValue("padding-top", 138, 100);
	// .product__breadcrumbs
	&__breadcrumbs {
		@include adaptiveValue("margin-bottom", 45, 25);
	}
	// .product__body
	&__body {
		@include adaptiveValue("margin-bottom", 75, 40);
	}
	// .product__clients
	&__clients {
	}
	// .product__info
	&__info {
		@include adaptiveValue("margin-bottom", 100, 20);
	}
	// .product__relate
	&__relate {
		@include adaptiveValue("margin-bottom", 95, 30);
	}
}
//========================================================================================================================================================
.body-product {
	// .body-product__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: rem(80);
		row-gap: rem(25);
		@media (max-width: em($containerWidth)) {
			grid-template-columns: auto;
		}
	}
	// .body-product__images
	&__images {
		min-width: 0;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		padding: rem(24) 0;
		&::before {
			content: "";
			height: 100%;
			width: 200%;
			right: 0;
			top: 0;
			position: absolute;
			background-color: $orangeColorLite;
			transform: translate(-10%, 0px);
		}
		@media (max-width: em(600)) {
			display: block;
		}
	}
	// .body-product__content
	&__content {
		padding: rem(24) 0;
		@media (max-width: em($containerWidth)) {
			padding: 0;
		}
	}
	// .body-product__title
	&__title {
		font-family: "Taviraj";
		@include adaptiveValue("font-size", 60, 34);
		line-height: 1.33;
		letter-spacing: 0.02em;
		color: $darkColor;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .body-product__price
	&__price {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	// .body-product__model
	&__model {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .body-product__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: rem(16);
		flex-wrap: wrap;
		@media (max-width: em(600)) {
			flex-direction: column;
			align-items: stretch;
		}
	}
	// .body-product__quantity
	&__quantity {
		flex: 0 0 rem(120);
		@media (max-width: em(600)) {
			flex: 1 1 auto;
		}
	}
	// .body-product__add-to-cart
	&__add-to-cart {
		flex-shrink: 0;
	}
	// .body-product__cicil
	&__cicil {
	}
}
.price-product {
	font-family: "Taviraj";
	// .price-product__old
	&__old {
		letter-spacing: 0.02em;
		line-height: 1.4;
		font-size: rem(20);
		position: relative;
		padding: 0 rem(2);
		display: inline-block;
		&:not(:last-child) {
			margin-bottom: rem(2);
		}
		&::after {
			width: 100%;
			height: rem(1);
			left: 0;
			position: absolute;
			top: 50%;
			background-color: $orangeColor;
			content: "";
		}
	}
	// .price-product__value
	&__value {
		font-size: rem(24);
		font-weight: 500;
		line-height: math.div(41, 24);
		color: $darkColor;
	}
}
.model-product {
	// .model-product__label
	&__label {
		font-family: "Taviraj";
		font-weight: 600;
		line-height: 1.68;
		letter-spacing: 0.02em;
		color: $darkColor;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .model-product__options
	&__options {
		display: flex;
		gap: rem(16);
		align-items: flex-start;
		flex-wrap: wrap;
	}
	// .model-product__option
	&__option {
	}
}
.option-product {
	flex: 0 0 rem(55);
	// .option-product__input
	&__input {
		position: absolute;
		width: 0;
		left: 0;
		opacity: 0;
		top: 0;
		left: 0;
		&:checked + .option-product__label {
			opacity: 1;
		}
	}
	// .option-product__label
	&__label {
		height: rem(55);
		border-radius: 50%;
		overflow: hidden;
		display: block;
		cursor: pointer;
		position: relative;
		opacity: 0.5;
		transition: opacity 0.3s ease 0s;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.images-preview {
	min-width: 0;
	flex: 0 0 percent(206, 555);
	// .images-preview__slider
	&__slider {
		@media (min-width: em(600)) {
			height: rem(480);
		}
	}
	// .images-preview__wrapper
	&__wrapper {
	}
	// .images-preview__slide
	&__slide {
		cursor: pointer;
		opacity: 0.5;
		text-align: center;
		transition: opacity 0.3s ease 0s;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&.swiper-slide-thumb-active {
			opacity: 1;
		}
	}
}
.images-product {
	min-width: 0;
	flex: 1 1 auto;
	// .images-product__slider
	&__slider {
		min-height: 100%;
		display: flex;
	}
	// .images-product__wrapper
	&__wrapper {
	}
	// .images-product__slide
	&__slide {
		text-align: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
//========================================================================================================================================================
.info-product {
	// .info-product__container
	&__container {
	}
	// .info-product__tabs
	&__tabs {
	}
	// .info-product__navigation
	&__navigation {
		display: flex;
		column-gap: rem(20);
		row-gap: rem(10);
		flex-wrap: wrap;
		padding-bottom: rem(12);
		@include adaptiveValue("padding-left", 32, 0);
		@include adaptiveValue("padding-right", 32, 0);
		justify-content: space-between;
		border-bottom: 1px solid #999999;

		@media (max-width: $mobileSmall) {
			justify-content: center;
		}
	}

	// .info-product__title
	&__title {
		font-family: "Taviraj";
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.6;
		letter-spacing: 0.02em;
		color: #999999;
		position: relative;
		&._tab-active {
			color: $orangeColor;
			&::after {
				content: "";
				width: 100%;
				position: absolute;
				bottom: rem(-4);
				height: rem(1);
				background-color: $orangeColor;
				left: 0;
			}
		}
	}
	// .info-product__content
	&__content {
	}
	// .info-product__label
	&__label {
		font-family: "Taviraj";
		font-size: rem(24);
		line-height: 1.33;
		letter-spacing: 0.02em;
		color: $darkColor;
		margin-bottom: rem(8);
	}
	// .info-product__body
	&__body {
		padding-bottom: rem(24);
		padding-top: rem(24);
		@include adaptiveValue("padding-left", 32, 0);
		@include adaptiveValue("padding-right", 32, 0);
	}
	// .info-product__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
		p {
			font-size: 16px;
			line-height: 1.75;
			letter-spacing: 0.02em;
			color: #555555;
			&:not(:last-child) {
				margin-bottom: rem(15);
			}
		}
	}

	// .info-product__image
	&__image {
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================
.relate {
	// .relate__container
	&__container {
	}
	// .relate__title
	&__title {
		@include adaptiveValue("margin-bottom", 62, 30);
	}
	// .relate__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: rem(30);
		row-gap: rem(40);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .relate__item
	&__item {
	}
}
.item-relate {
	font-family: "Taviraj";
	position: relative;
	background-color: #fff;
	padding: rem(46) rem(24) rem(24) rem(24);
	// .item-relate__labels
	&__labels {
		position: absolute;
		right: rem(24);
		top: rem(-17);
		display: grid;
		gap: rem(5);
		z-index: 2;
	}
	// .item-relate__label
	&__label {
		text-align: center;
		font-weight: 500;
		color: #fff;
		padding: rem(5) rem(17);
		line-height: math.div(24, 16);
		text-transform: uppercase;
		// .item-relate__label_sale
		&_sale {
			background-color: $orangeColor;
		}
		// .item-relate__label_new
		&_new {
			background-color: #01522d;
		}
	}
	// .item-relate__image
	&__image-ibg {
		display: block;
		padding-bottom: percent(221, 207);
		margin-bottom: rem(12);
	}
	// .item-relate__title
	&__title {
		font-weight: 500;
		font-size: rem(24);
		line-height: 1.3;
		color: $darkColor;
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	// .item-relate__link-title
	&__link-title {
		&:hover {
			text-decoration: underline;
		}
	}
	// .item-relate__old-price
	&__old-price {
		position: relative;
		padding: 0 rem(2);
		display: inline-block;
		&::after {
			content: "";
			width: 100%;
			height: rem(1);
			position: absolute;
			top: 50%;
			left: 0;
			background-color: $orangeColor;
		}
	}
	// .item-relate__price
	&__price {
		color: $darkColor;
		font-size: rem(24);
		line-height: math.div(32, 24);
	}
}
